@import "vars.scss";

// global app styles
body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    background-color: $bg1
}

html {
    scroll-behavior: smooth;
}

.fake-icon {
    margin-right: 0.5em !important;

    img {
        width: 75%;
    }
}

.button.is-primary {
    color: rgba(42, 42, 42, 95);

    &:hover {
        background-color: $link !important;
    }
}
